.background__effect {
    background-image: url(../../img/main/effect.svg);
    min-height: calc(100vh - 111px);
    z-index: 4;
    position: absolute;
    pointer-events: none;

    @media (max-width: 900px) {
        min-height: calc(100vh - 40px);
    }
}


.main__dec.--back-title {
    background-image: url(../../img/main/back-title.svg);
    max-height: 450px;
    aspect-ratio: 670/275;
    flex: 0 0 calc(20% - 14px);
    top: 19px;
    z-index: 1;

    @media (max-width: 1600px) {
        width: 75vw;
    }

    @media (max-width: 900px) {
    background-image: url(../../img/main/back-title-mob.svg);
        aspect-ratio: 302/333;
        width: 85vw;
        flex: none;
        top: 60px;
        max-height: none;
    }

}

.main__dec.--back-date {
    background-image: url(../../img/main/back-date.svg);
    max-height: 80px;
    aspect-ratio: 240/77;
    flex: 0 0 calc(20% - 14px);
    z-index: 2;
    top: 289px;

    @media (max-width: 1600px) {
        top: 36vh;
        width: 40vw;
    }
    @media (max-width: 900px) {
        top: 30vh;
        width: 50vw;
        max-height: none;
        padding-top: 50px;
    }
    @media (max-width: 600px) {
        padding-top: 25px;
    }

    @media (max-width: 380px){
        top: 35vh;
    }

}

.main__dec {
    position: absolute;
}



.main__dec.--hat {
    background-image: url(../../img/main/hat.svg);
    max-width: 180px;
    aspect-ratio: 135/78;
    flex: 0 0 auto;
    z-index: 3;
    top: 3vh;
    left: calc(30% - 150px);

    @media (max-width: 1600px) {
        width: 144px;
        top: 5vh;
        left: 17vw;
    }

    @media (max-width: 900px) {
        width: 100px;
        top: 10vh;
        left: 15vw;
    }
}

.main__dec.--border {
    background-image: url(../../img/main/border.svg);
    width: 110%;
    aspect-ratio: 1232/124;
    top: calc(100vh - 45px);
    z-index: 4;

    @media (max-width: 1600px) {
        width: 1650px;
        left: -50px;
    }

    @media (max-width: 900px) {
        left: -50px;
        width: 1200px;
        top: calc(100vh - 30px);
    }


}

.main__dec.--tape {
    background-image: url(../../img/main/tape.svg);
    aspect-ratio: 1232/45;
    width: 110%;
    top: 105vh;
    left: -50px;
    z-index: 4;

    @media (max-width: 900px) {
        left: -10px;
    }
}

.main__dec.--turtel {
    background-image: url(../../img/main/turtel.svg);
    aspect-ratio: 220/212;
    width: 20vw;
    left: -20vw;

    @media (max-width: 1600px) {
        width: 15vw;
        left: -5vw;
    }

    @media (max-width: 600px) {
        width: 130px;
        left: -5vw;
        top: -2vh;
        z-index: 0;
    }
}

.main__dec.--flower {
    background-image: url(../../img/main/flower.svg);
    aspect-ratio: 285/280;
    width: 20vw;
    right: -10vw;
    top: 7vh;

    @media (max-width: 1600px) {
        width: 25vw;
        right: -2vw;
        top: 1vh;
    }
    
    @media (max-width: 900px) {
        transform: scaleX(-1);
        width: 30vw;
        right: -10vw;
        bottom: -5vh;
    }
}

.main__dec.--cactus {
    background-image: url(../../img/main/cactus.svg);
    aspect-ratio: 94/334;
    width: 8vw;
    bottom: -5vh;
    left: 0%;

    @media (max-width: 1600px) {
        width: 8vw;
        bottom: -5vh;
        left: 18vw;
    }

    @media (max-width: 900px) {
      display: none;
    }
}

.main__dec.--man {
    background-image: url(../../img/main/man.png);
    aspect-ratio: 529/468;
    width: 38vw;
    bottom: -5vh;
    left: -23vw;
    z-index: 3;

    @media (max-width: 1600px) {
        height: 70vh;
        width: auto;
        bottom: -5vh;
        left: -12vw;
    }

    @media (max-width: 900px) {
        height: 60vh;
        left: -25vw;
    }

    @media (max-width: 600px) {
        height: 55vh;
        left: -30vw;
    }
}

.main__dec.--woman {
    background-image: url(../../img/main/woman.png);
    aspect-ratio: 451/400;
    width: 38vw;
    right: -23vw;
    bottom: -5vh;
    z-index: 3;

    @media (max-width: 1600px) {
        height: 70vh;
        width: auto;
        right: -10vw;
        bottom: -5vh;
    }

    @media (max-width: 900px) {
      display: none;
    }

}


.prog__dec {
    background-image: url(../../img/prog/border.svg);
    width: 300%;
    aspect-ratio: 1200/51;
    position: absolute;

    z-index: 0;


}

.--up {
    top: -45px;

    @media (max-width: 1600px) {
        top: -35px;
    }
}

.--down {
    bottom: -35px;

    @media (max-width: 1600px) {
        bottom: -20px;
    }
}

.info__dec {
    background-image: url(../../img/info/info-border.svg);
    position: absolute;
    width: 300%;
    aspect-ratio: 1200/51;
    bottom: 6%;
    left: -100%;
    z-index: 0;

    @media (max-width: 1600px) {
        bottom: 8%;
    }
}