.main {
    background-color: #FFCA05;
    min-height: calc(100vh - 71px);
    display: flex;


}

.main__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
}

.main__text {
    padding-top: 75px;
    z-index: 2;
}

.main__title {
    max-width: 596px;
    z-index: 2;
}

.main__date {
    padding-top: 25px;
    z-index: 3;
    color: #EC1C24;
}
