.prog {
    background-color: #FFCA05;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    position: relative;
    padding: 20px 0;
   
}

.prog__container {
    padding: 80px 50px  ;
}

.prog__title {
    position: relative;
}



.card__button {
    z-index: 2;
    position: relative;
    width: 100%;
    aspect-ratio: 288/35;
    top: 40%;
}

.card__img {
    background-image: url(../../img/prog/card-img.png);
    width: 110%;
    aspect-ratio: 310/380;
    position: absolute;
    left: -5%;
    top: -5%;
    z-index: 0;
}

.card__title {
    font-size: 36px;
    position: relative;
    top: 40%;

}

.card__dec {
    background-image: url(../../img/prog/card-dec.svg);
    width: 113%;
    aspect-ratio: 310/380;
    position: relative;
    bottom: -25%;
    left: -6%;
}

.prog__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 53px;
    padding-top: 20px;
}

.prog__card {
    flex: 0 0 calc(33.333% - 40px);
    box-sizing: border-box;
    z-index: 2;
    position: relative;
    height: 380px;
}

@media (max-width: 900px) {
    .prog__card {
        flex: 0 0 calc(50% - 40px);
    }
}

@media (max-width: 600px) {
    .prog__card {
        flex: 1 1 100%;
    }

    .prog__card-list {

        gap: 15px;
    }
}