body {
    font-family: Accidental;
    font-size: 36px;
    color: #24235C;
    font-weight: 500;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    background: none;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    font-size: 20px;
    color: #EC297B;
    font-family: Accidental;
    background-image: url(../img/prog/btn-back.svg);
    background-size: contain;
    background-position:center;
    background-repeat: no-repeat;
}

.img{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}


a {
    color: inherit;
    text-decoration: none;
}

.title {
    font-size: 72px;
    
    text-transform: uppercase;
}

.text {
    font-size: 20px;
}

.--red{
    color: #EC1C24;
}